.rodape{
    background-color: var(--color-quartenary);
    color: white;
    width: 100%;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    /* margin-bottom: 5px; */
    font-size: 19px;
}
.rodape-div{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    align-items: center;
}

.rodape-div-2{
    display: flex;
    width: calc(80% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 22px;
    color: white;
}
.rodape-direitos{
    width: 100%;
    background-color: var(--color-primary);
    padding: 10px;
    text-align: center;
}
.rodape-div-2 p a:hover{
    color: #cecdcd;
}

.rodape-div-2 p a{
    text-transform: capitalize;
}

.rodape-div img {
    margin: 35px;
    height: 60px;
}

.redes-sociais li{
    display: inline-block;
    height: 40px;
}

.midias {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
}

/*---------------------RESPONSIVO------------------------------------------*/

/*mobile*/
@media (min-width: 320px) and (max-width: 765px){
    .rodape-div-2{
        padding: 20px 0px;
    }
    .rodape-div{
        padding: 40px 0px;
        width: 100%;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rodape-div img {
        margin: 20px 0px;
    }
     .redes-sociais li{
       padding: 20px;

    }
}

/*tablet */
@media (min-width: 768px) and (max-width:1023px){
    .rodape-div-2{
        width: calc(10% - (-20px));
        padding: 5px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
        justify-content: space-evenly;
    }
    /* .rodape-div img{
       padding: 0px 10px 0px 10px; 
    /* } */
    .redes-sociais li{
        margin-right: 10px;
    }
}

/*laptop */
@media (min-width: 1024px) and (max-width:1439px){
    .rodape-div-2{
        width: calc(10% - (-50px));
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
    .rodape-div img{
       padding: 0px 10px 0px 10px;
    }
    .redes-sociais li{
        padding: 0px 10px 0px 10px;
    }
}


@media (min-width: 1440px){
    .redes-sociais li{
        padding: 0px 10px 0px 10px;
    }
}
