.rodape{
    background-color: var(--color-quartenary);
    color: white;
    width: 100%;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
    font-size: 19px;
}
.rodape-div{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    align-items: center;
}

.rodape-div-2{
    display: flex;
    width: calc(80% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 22px;
    color: white;
}
.rodape-direitos{
    width: 100%;
    background-color: var(--color-primary);
    padding: 10px;
    text-align: center;
}
.rodape-div-2 p a:hover{
    color: #cecdcd;
}

.rodape-div-2 p a{
    text-transform: capitalize;
}

.rodape-div img {
    margin: 35px;
    height: 60px;
}

.redes-sociais li{
    display: inline-block;
    height: 40px;
}

.midias {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
}

/*---------------------RESPONSIVO------------------------------------------*/

/*mobile*/
@media (max-width: 374px) {
   .rodape-div-2{
        width: calc(50% - 20px);
        padding: 20px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
    .rodape-div img{
       padding: 0px 10px 0px 10px;
    }
    .redes-sociais li{
        margin-right: 15px;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    .rodape-div-2{
        width: calc(50% - 20px);
        padding: 20px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
        margin-right: 5px;
    }
    .rodape-div img{
        padding: 0px 40px 0px 40px;
     }
     .redes-sociais li{
        margin-right: 35px;
    }
}

@media (min-width: 425px) and (max-width: 474px){
    .rodape-div-2{
        width: calc(50% - 20px);
        padding: 20px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
        margin-right: 5px;
    }
    .rodape-div img{
        padding: 0px 60px 0px 60px;
     }
     .redes-sociais li{
        margin-right: 45px;
    }
}

/*tablet */
@media (min-width: 768px) and (max-width:1023px){
    .rodape-div-2{
        width: calc(10% - (-20px));
        padding: 5px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
    .rodape-div img{
       padding: 0px 10px 0px 10px;
    }
    .redes-sociais li{
        margin-right: 10px;
    }
}

/*laptop */
@media (min-width: 1024px) and (max-width:1439px){
    .rodape-div-2{
        width: calc(10% - (-50px));
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
    .rodape-div img{
       padding: 0px 10px 0px 10px;
    }
    .redes-sociais li{
        padding: 0px 10px 0px 10px;
    }
}


@media (min-width: 1440px){
    .redes-sociais li{
        padding: 0px 10px 0px 10px;
    }
}
